.aviso {
    font-size: 1.5em;
    color: red;
}

#botoes {
    margin: 1em;
}

section {
    display: flex;
}

.mostrar {
    height: 200px;

    border: 2px solid purple;
    margin: 1em;
}

.escondido {
    visibility: hidden;
}
